@use "../scss/variables" as *;
@use "../scss/mixins";

.video {
  &__header {
    display: flex;
    gap: 115px;

    &-title {
      color: $font-gold;
      flex-shrink: 0;
    }

    &-text {
      font-weight: 200;
      line-height: 1.75em;
    }
  }

  &__content {
    width: 100%;
    height: 650px;
    margin-block-start: 75px;
  }
}